HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# IDE
.idea/

# Gradle
.gradle/
caches/
daemon/
native/
wrapper/
build/

# Gradle caches 전역 무시 (루트 및 어디에 있든)
**/caches/
**/daemon/
**/native/
**/build/

# Gradle 폴더 전역 무시
.gradle/

# gradle-wrapper만 허용
!gradle/wrapper/gradle-wrapper.jar

# src 내부 빌드 결과 허용
!**/src/main/**/build/
!**/src/test/**/build/